# @defaultSensitive=false @defaultRequired=infer @currentEnv=$APP_ENV
# @plugin(@varlock/proton-pass-plugin@0.0.3)
# @initProtonPass()
# ---

# @type=enum(development,staging,production)
APP_ENV=development

# @type=url
APP_URL=http://localhost:3000

# @type=port
PORT=3000

# @type=string(startsWith=sk-ant-)
# @required
# @sensitive
ANTHROPIC_API_KEY=protonPass(pass://ERA/Project/ANTHROPIC_API_KEY)

# @type=string(startsWith=AIza)
# @optional
# @sensitive
GEMINI_API_KEY=protonPass(pass://ERA/Project/GEMINI_API_KEY, allowMissing=true)

# @type=string(startsWith=sk-or-)
# @optional
# @sensitive
OPENROUTER_API_KEY=protonPass(pass://ERA/Project/OPENROUTER_API_KEY, allowMissing=true)

# @type=string
# @optional
GITHUB_TOKEN=protonPass(pass://ERA/Project/GITHUB_TOKEN, allowMissing=true)

# @type=url
# @optional
DATABASE_URL=
